<div class="content">
  <img class="pageLogo" src="../assets/iconPages/registerW.svg" />
  <app-buttons></app-buttons>
  <app-register-form *ngIf="type"></app-register-form>
  <!-- <div *ngIf="!type">
    <h3>Cliente</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat nihil ipsum aliquid aliquam, corporis recusandae iste fuga cumque officia placeat. Nobis similique architecto totam ratione quis? Libero ducimus iure amet!</p>
  </div>
  <div *ngIf="!type">
    <h3>Cadete</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat nihil ipsum aliquid aliquam, corporis recusandae iste fuga cumque officia placeat. Nobis similique architecto totam ratione quis? Libero ducimus iure amet!</p>
  </div> -->
</div>